.table{
    border: 1px solid;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 25px 65px 25px 65px;
}

th {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    text-align: center;
    padding:8px 8px;
    border-bottom: solid 1px;
}

td {
    padding-top:10px;
    text-align: left;
    padding-right:50px;
}

.button{
    text-decoration: none;
    border:none;
    background-color:white;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    padding:13px 20px;    
    color:rgb(29, 27, 27);
    border-bottom: 2px solid rgb(114, 114, 240);
    transition: background-color 0.8s linear;
}

.button:hover{
    background-color: rgba(140, 140, 228, 0.555);
    cursor: pointer;
}

